#grid {
    margin: auto;
    margin-top: 5rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#welcomeHeader {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
}

#newAccountModal {
    width: 10rem;
    margin: auto;
    margin-top: 10rem;
}